/* ============== Paleta de colores básica ============== 
Color base: #A8B0BF
Color 2: #252E40
Color 3: #7B818C
Color 4 :#383B40
Color 5: #7593CA
Color 6: #FFFFFF

Línea agregada para cumplir con el desafío complementario de GitHub
==============  ==============  ==============  ============== */
/* ============== Reset ============== */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Assistant', sans-serif;
}

body {
    background-color: #A8B0BF;
}

.h2OtroTamaño {
    font-size: 13pt;
}

a {
    color: #252E40;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    margin: 5px;
    text-align: center;
    color: #252E40;
}

p {
    text-align: center;
    color: #252E40;
}

@media only screen and (max-width: 767px) {
    body {
        background-color: #161832;
    }
    h1 {
        font-size: 23px;
        color: #273144;
    }
    h2 {
        font-size: 19px;
        color: #273144;
    }
    p {
        color: #7691c7;
    }
}

/* Tablet Styles */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-color: #696F78;
    }
    p {
            color: #bbc6dd;
    }
}
/* ============== Header ==============*/

.logo {
    display: flex;
    margin: 3px;
    justify-content: center;
}

.logo img {
    width: 350px;
}

nav {
    font-size: 20px;
    padding: 3px;
    width: 100%;
    background-color: #252E40;
    background-image: linear-gradient(to right,#252E40, #A8B0BF);
    text-align: center;
    color: #A8B0BF;
}

nav a{
    color: #A8B0BF;
}


/* ============== Bodies básico ============== */

main {
    height: 75vh;
    text-align: center;
}
/* ============== Estilo básico imágenes ============== */

img {
    border-radius: 2%;
}

img :hover {
    width: 10%;
}
/* ============== Index ============== */

.bio {
    background-color: #7593CA;
    text-align: center;
    width: 50%;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 7px;
}

@media only screen and (max-width: 767px) {
    .bio {
        background-color: #647dac;
    }
}

.carousel{
    margin-left: auto;
    margin-right: auto;
}

.carousel img {
    width: 100%;
    height: 70vh;
    object-fit: contain;
}

/* ============== Sobre Mí ============== */


/* ============== Servicios ============== */

table {
    background-color: #7593CA;
    margin-left: auto;
    margin-right: auto;
}

.listas {
    display: flex;
    list-style-type: none;
    color: #252E40;
    justify-content: center;
}

table caption {
    color: #252E40;
    letter-spacing: 3px;
    text-decoration: underline;
}

td {
    padding: 10px;
}

table ul {
    padding: 10px;
    list-style-type: none;
}

/* ============== Galería ============== */
/*-----grid-----*/

.gridGaleria {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-areas: "titulo    titulo titulo"
                         "Izquierda Centro Derecha";
    grid-template-rows: 40px 400px;
    grid-template-columns: repeat(3, 30%);
}

.gridTitulo {
    grid-area: titulo;
}

.gridIzq {
    grid-area: Izquierda;
}

.gridCentro {
    grid-area: Centro;
}

.gridDer {
    grid-area: Derecha;
}

.gridGaleria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gridGaleria img:hover {
    opacity: 0.85;
    transform: scale(1.02);
    transition: ease 0.5s;
}

/* ============== Botones ============== */

.botones {
    position: fixed;
    bottom: 30px;
    right: 10px;
    margin: 10px;
}

button a {
    text-decoration: none;
    color: #252E40;
}

i {
    font-size: 2em;
    text-align: center;
    display: inline-block;
    padding-top: 3.5px;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    color: #FFFFFF;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 0.7);
}

.listas i {
    flex-direction: row;
    margin: 9px;
    background-color: #40506e;
}

.irArriba {
    border-radius: 100%;
    background-color: #252E40;
}

.wsp {
    border-radius: 100%;
    background-color: #00bb2d;
}

.wsp:hover {
    cursor: pointer;
}
/* ============== Footer ============== */

footer {
    padding: 5px;
    height: 30px;
    text-align: center;
    background-color: #252E40;
    background-image: linear-gradient(to right,#A8B0BF, #252E40, #A8B0BF);
    color: #FFFFFF;
}
